@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

/* variables */
:root {
  --anchor: #08c;
  --gray1: hsl(0, 0%, 83%);
  --gray2: hsl(0, 0%, 75%);
  --gray3: hsl(0, 0%, 65%);
  --gray4: hsl(0, 0%, 55%);
  --gray5: hsl(0, 0%, 45%);
  --gray6: hsl(0, 0%, 35%);
  --gray7: hsl(0, 0%, 25%);
  --gray8: hsl(0, 0%, 15%);
  --gray9: hsl(0, 0%, 8%);
    --black: #1b1b1b;
}

/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", Arial, Verdana, sans-serif;
    vertical-align: baseline;
    color: var(--gray7);
    list-style-type: initial;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: none;
  }

  button {
    cursor: pointer;
    border: none;
    text-decoration: none;
    padding: 0;
    background-color: transparent;
  }

  input:focus {
      outline:none;
  }

/* preset */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    background: var(--gray4);
    color: var(--gray1);
    padding: 5px 10px;
}

/* styles */
/* header */
.outer-header {
    height: 150px;
    min-width: 1200px;
}

.nav-bar {
    background: var(--gray5);
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

.nav-logo {
    width: 40px;
    height: 40px;
    transform: rotateZ(-25deg);
    background: var(--gray6);
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 20px;
}

.nav-bar ul li {
    list-style-type: none;
}

.nav-bar ul li a {
    color: var(--gray1);
}

.btn-nav-more {
    font-size: 20px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background: var(--gray6);
}

.nav-form > label > input {
    padding: 20px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
}

.tags {
    background: var(--gray3);
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.tag {
    padding: 10px;
    background: var(--gray1);
    border-radius: 5px;
    margin: 0 10px;
}

/* main content */
.outer-main {
    min-height: 500px;
}

.outer-main > section {
    min-width: 1200px;
}
/* section1 */
.front-guides {
    margin: 20px auto 40px auto;
    width: 90%;
    display: flex;
    text-align: center;
}

.guides {
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.main-guide {
    width: 800px;
    background: var(--gray2);
    font-size: 24px;
    text-align: left;
    padding: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.main-guide > div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.main-guide > p {
    font-size: 16px;
    font-family: 'Merriweather', serif;
    margin-bottom: 30px;
}

.main-guide > a {
    font-size: 20px;
}

.main-author-pic {
    width: 150px;
    height: 150px;
    background: var(--gray6);
    border-radius: 10px;
    margin: 20px 40px;
    transform: rotateZ(-25deg);
    cursor: pointer;
}

.other-guide {
    width: 800px;
    background: var(--gray2);
    font-size: 18px;
    text-align: left;
    padding: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.other-guide > a {
    margin-left: 30px;
}

.other-author-pic {
    width: 120px;
    height: 120px;
    background: var(--gray6);
    border-radius: 10px;
    transform: rotateZ(-25deg);
    cursor: pointer;
}

.email {
    width: 30%;
    height: 550px;
    margin-top: 90px;
    background: var(--gray3);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
}


.email-art {
    background: var(--gray6);
    width: 180px;
    height: 180px;
    margin-top: -90px;
    border-radius: 50%;
    cursor: pointer;
}

.btn-email-newsletter {
    font-size: 24px;
    background: var(--gray1);
    color: var(--gray7);
    border-radius: 5px;
}

.email > h2, .email > p {
    font-family: 'Merriweather', serif;
}

.email > p {
    font-size: 18px;
}

.email > form {
    height: 60px;
    display: flex;
    font-size: 24px;
}
.email > form > label > input {
    width: 200px;
    border: none;
    height: 100%;
    font-size: inherit;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.btn-submit-email {
    width: 100px;
    border: none;
    height: 100%;
    font-size: inherit;
    border-radius: 0 5px  5px 0;
    background: var(--gray6);
}

/* section2 */
.guide-cards {
    margin: 20px auto 40px auto;
    width: 90%;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    text-align: left;
    width: 350px;
    min-height: 610px;
    background: var(--gray2);
    padding: 40px;
}

.card > * {
    margin: 0 auto;
    margin-bottom: 50px;
}

.card > p {
    font-size: 18px;
    font-family: 'Merriweather', serif;
}

.card > div:first-child {
   font-size: 20px;
}

.card > div:first-child > p {
    font-size: 12px;
 }

 .btn-card {
     display: block;
     font-size: 24px;
     border-radius: 5px;
     padding: 15px 20px;
     background: var(--gray6);
 }

 /* section3 */
.latest-posts {
    margin: 20px auto 40px auto;
    width: 85%;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 100px 0;
}

.post {
    width: 540px;
    display: flex;
    background: var(--gray1);
}

.poster-pic {
    width: 100px;
    height: 100px;
    padding: 20px;
}

.poster-pic > a > img {
    width: 60px;
    height: 60px;
    background: var(--gray6);
    border-radius: 10px;
    transform: rotateZ(-25deg);
    }

.post-info {
    width: 440px;
    padding: 10px 20px;
    font-size: 20px;
}

.post-info > * {
    margin-bottom: 30px;
}

.post-info p {
    font-size: 16px;
    font-family: 'Merriweather', serif;
    line-height: 1.8;
}
/* section4 */
.more-choices {
    margin: 20px auto 40px auto;
    width: 85%;
    min-height: 400px;
    font-size: 30px;
}

.more-choices > div:first-child {
    text-align: center;
    margin: 0 auto;
}

.choices-container {
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
    display: flex;
}

.choice {
    background: var(--gray3);
    width: 550px;
    margin: 120px 40px 20px 40px;  
    padding: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.choice-art {
    background: var(--gray6);
    width: 180px;
    height: 180px;
    margin-top: -100px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 50px;
}

.choice > h5, .choice > div:nth-child(3) {
    margin-bottom: 40px;
}

.choice > div:nth-child(3) {
    display: inline-block;
    width: 450px;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    text-align: center;
   
}

.btn-jump {
    font-size: 24px;
    background: var(--gray6);
    border-radius: 10px;
    margin-bottom: 100px;
    padding: 20px 30px;
}
/* section5 */
.explore {
    background: var(--gray5);
    margin: 20px auto 40px auto;
    width: 100%;
    min-height: 1000px;
    font-size: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 100px;
}

.explore > * {
    margin-bottom: 40px;
    text-align: center;
    color: var(--gray1);
}

.explore > a {
    width: 50%;
}

.explore > a > h1 {
    color: var(--gray1)
}

.explore > p {
    width: 60%;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    line-height: 2;

}

.btn-explore-speakers {
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 10px;
}

.explore-art {
    background: var(--gray6);
    width: 500px;
    height: 500px;
    margin-top: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 50px;
}

/* section6 */
.community-links {
    margin: 20px auto 40px auto;
    width: 85%;
    min-height: 1000px;
}

.featured-link {
    width: 100%;
    background: var(--gray2);
    display: flex;
    padding: 50px;
}

.featured-pic img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    transform: rotateZ(-15deg);
    background: var(--gray6);
}

.featured-info {
    margin-left: 50px;
}

.featured-info > * {
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

.featured-info > h3 {
    margin-bottom: 30px;
}

.other-links {
    width: 100%;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 50px 0;
    margin-top: 30px;
}

.link {
    height: 300px;
}

.link .post-info > * {
    margin-bottom: 10px;
}

 /* load more links */
 .load-more {
     width: 100%;
     text-align: center;
     margin-bottom: 40px;
 }

 .see-articles {
    margin-bottom: 200px;

 }

 .load-more > a {
     padding: 10px;
     background: var(--gray1);
 }
/* footer */
.outer-footer {
    min-width: 1200px;
    background: var(--gray5);
    height: 650px;
    padding: 50px;
    display: flex; 
    flex-flow: column;
    align-items: center;
}

.outer-footer * {
    color: var(--gray1);
    font-family: 'Merriweather', serif;
}

.outer-footer > p {
    font-weight: bold;
    font-size: 14px;
}

.site-links {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.site-links li {
    margin: 10px 20px;
    color: var(--gray7);
}

.site-links li > a {
    font-size: 22px;
}

.outer-footer > div {
    margin-bottom: 20px;
}

.outer-footer > div i {
    font-size: 13px;
}   

.footer-nav ul {
    display: flex;
    justify-content: center;
    
}

.footer-nav ul li {
    margin: 10px;
    list-style-type: none;
}

.footer-nav, .outer-footer > div a {
    text-decoration: underline;
}

